.App {
  text-align: center;
}

form {
  padding-right: 20px;
}

h2 {
  color: grey;
  text-align: left;
  margin-bottom: 5px;
}

.result-text {
  padding-left: 25px;
  text-align: left;
  width: 50%;
}

.result-text p {
  color: grey;
  font-size: 14px;
  margin: 0px;
}

p.phoneNumber {
  padding-bottom: 10px;
  padding-top: 10px;
}

star-rating {
  font-size: 10px;
}

.expand-search-results {
  z-index: 0;
}

.navbar {
  color: red;
}

.location {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.formFaded {
  background: whitesmoke;

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0s;
}

.search-widget {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background: linear-gradient(347.71deg, #E3F2FD 11.16%, #BBDEFB 82.03%);
}


.search-results {
  /* flex-basis: 0%; */
  background: white;
  width: 0px;
}

.expand-search-results {
  animation-name: expandResults;
  animation-duration: 1s;
  /* prevent the animation from resetting after done playinig */
  animation-fill-mode: forwards;
}

@keyframes expandResults {
  /* flex-basis is how big the results column is in this flex row, auto should take whatever is left over from the search-form */
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  /* flex-basis is how big the results column is in this flex row, auto should take whatever is left over from the search-form */
  from {
    opacity: 0%;
  }
  to {
    opacity: 1;
  }
}

.result {
  opacity: 0%;

  /* border-color: gray;
  border-width: 1px; */

  display: flex;
  flex-direction: row;
  height: 25%;

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  /* border-bottom: 1px solid lightgrey; */

  /* prevent the animation from resetting after done playinig */
  animation-fill-mode: forwards;
}

.result img {
  height: 200px;
  width: 200px;
}

/* .selected {
  background: gray;

  box-shadow: 1px 1px;
  display: inline-block;
} */

.selected button {
  float: right;
  text-transform: uppercase;
  background: none;
  color: blueviolet;
  border: none;
  font-weight: bold;
  /* width:400px; */
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0s;
}

.not-selected button {
  display: none;
}

.widgetContainer {
  width: 35vmax;
  height: 30vmax;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gray; */
  border-radius: 10px;
  margin: 1vw;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.widgetList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exampleWidget1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(219, 202, 250);
  width: 90%;
  height: 90%;
}

.PhraseRank {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(250, 240, 147);
  width: 100%;
  height: 100%;
}

.exampleWidget3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(142, 228, 142);
  width: 90%;
  height: 90%;
}

.review-frequency {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 90%;
  height: 90%;
}

.rating-over-time {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 90%;
  height: 90%;
}

.exampleWidget6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(105, 105, 105);
  width: 90%;
  height: 90%;
}

.radarChart {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* padding: 10px;
  width: 800px;
  height: 800px; */
  /* background-color: #fff; */
}

.dashboardgrid {
  display: flex;
}

.AIBusiness {
  display: flex;
  justify-content: center;
}

.AITitle {
  color: black;
  font-size: 30px;
  margin-top: -70px;
  margin-bottom: 30px;
}

.CustomerBusiness {
  width: 100%;
  display: flex;
  justify-content: center;
}

.CustomerTitle {
  font-size: 60px;
  margin-bottom: 120px;
  width: 65%;
}

.home-icons {
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: #BBDEFB;
  align-items: center;
}

.mid-section {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.head-title {
  margin-top: 80px;
  font-size: 55px;
}

.flag-icon {
  /* border: 1px solid black; */
  width: 33%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.chart-icon {
  width: 33%;
  margin-left: 44px;
  margin-right: 25px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.arrow-icon {
  width: 33%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.h2 {
  font-size: 24px;
}

.p {
  font-size: 18px;
  font-weight: bold;
}

.top-card {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60vh;
  margin-top: 125px;
  width: 100%;
}

.leftpara {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  width: 50%;
  margin-left: 10%;
}

.TopTabletIMG {
  display: flex;
  /* justify-content: flex-end; */
  position: relative;
  width: 50%;
}

.HomePicture {
  position: absolute;
  top: -300px;
  left: 310px;
}

.HomePicture2 {
  position: absolute;
  top: -375px;
  left: 385px;
}

.HomePicture3 {
  position: absolute;
  top: -150px;
  left: 165px;
}

.HomePicture4 {
  position: absolute;
  top: -220px;
  left: 240px;
}

.BottomTabletIMG {
  width: 55%;
  display: flex;
  /* justify-content: flex-end; */
  width: 50%;
  position: relative;
}

.HomePicture5 {
  position: absolute;
  top: -160px;
  left: 110px;
}

.HomePicture6 {
  position: absolute;
  top: -350px;
  left: 100px;
}

.HomePicture7 {
  position: absolute;
  top: -300px;
  left: -75px;
}

.HomePicture8 {
  position: absolute;
  top: -210px; 
  left: 0px; 
}

.bottom-card {
  /* border: 1px solid black; */
  margin-top: 200px;
  display: flex;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
  height: 60vh;
}

.rightpara {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: Avenir;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  width: 50%;
  margin-left: 10%;
}



.bottom-info {
  padding-bottom: 35px;
  display: flex;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-evenly;
}

.overlayImg:before {
    position: absolute;
    width: 37vmin;
    height: 37vmin;
  transition: .5s ease;
  opacity:.5;
}

.widgetThumbnail {
  width: 37vmin;
  height: 37vmin;
}

.businessStats {
  padding-top: 75px;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}

#tallyTitle {
  text-decoration: none;
  color: white;
}

.YelpBusinessH1 {
  font-size: 16px;
}

.YelpBusinessH2 {
  color: #0D47A1;
}

.HomeFeaturesTitle {
  margin-top: 225px;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
}

.FeaturesTables {
  display: flex;
  justify-content: space-evenly;
  height: 35vh;
  padding-top: 35px;
}

.FeatuesTable1 {
  box-shadow: 0px 55px 0px 0px #0f7dd7;
  padding: 15px;
  width: 15%;
  border-radius: 18px;
  background: #2C98F0;
  opacity: 0.8;
  transition: transform .2s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.FeatuesTable1:hover {
  transform: scale(1.2); 
}

.FeatuesTable2 {
  box-shadow: 0px 55px 0px 0px #9ed1fa;
  padding: 15px;
  width: 15%;
  border-radius: 18px;
  background: #BBDEFB;
  opacity: 0.8;
  transition: transform .2s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.FeatuesTable2:hover {
  transform: scale(1.2); 
}

.FeatuesTable3 {
  box-shadow: 0px 55px 0px 0px #c8981e;
  padding: 15px;
  width: 15%;
  border-radius: 18px;
  background: #DFAB26;
  opacity: 0.8;
  transition: transform .2s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.FeatuesTable3:hover {
  transform: scale(1.2); 
}

.FeatuesTable4 {
  box-shadow: 0px 55px 0px 0px #c46ea2;
  padding: 15px;
  width: 15%;
  border-radius: 18px;
  background: #D496BB;
  opacity: 0.8;
  transition: transform .2s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.FeatuesTable4:hover {
  transform: scale(1.2); 
}

.FeaturesHeaders {
  color: black;
  text-align: center;
}

.FeaturesButton {
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:18px;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	font-style:italic;
	padding:30px 60px;
  text-decoration:none;
  margin-top: 80px;
}
.FeaturesButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.FeaturesButton:active {
	position:relative;
	top:1px;
}

.BottomSection {
  margin-top: 250px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(347.71deg, #E3F2FD 11.16%, #BBDEFB 82.03%);
}

.BottomTitle {
  width: 40%;
  font-family: Avenir;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 61px;
  text-align: center;
  margin-top: 150px;
}

.FooterButton {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.backgroundcolor {
  background: linear-gradient(347.71deg, #E3F2FD 11.16%, #BBDEFB 82.03%);
}

.reviews {
  background: #BBDEFB;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 12vh;
  width: 12vw;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.ratings {
  background: #2C98F0;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 12vh;
  width: 12vw;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.changeofrating {
  background: #DFAB26;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 12vh;
  width: 12vw;
  border-radius: 10px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}