.App {
  text-align: center;
}

form {
  padding-right: 20px;
}

.result-text {
  padding-left: 5%;
  text-align: left;
  width: 50%;
}

.result-text p {
  color: grey;
  font-size: 100%;
  margin: 0px;
}

p.phoneNumber {
  padding-bottom: 10px;
  padding-top: 10px;
}

star-rating {
  font-size: 10px;
}

.expand-search-results {
  z-index: 0;
}

.navbar {
  color: red;
}

.location {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.formFaded {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0s;
}

.search-widget {
  display: flex;
  flex-direction: row;
  height: 100vh;
  /* background: linear-gradient(347.71deg, #E3F2FD 11.16%, #BBDEFB 82.03%); */
}

.growSearch {
  animation-name: search;
  animation-duration: 1s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  align-content: left;
}

.growSearch button {
  display: flex;
}

@keyframes search {
  /* flex-basis is how big the results column is in this flex row, auto should take whatever is left over from the search-form */
  from {
    width: 40%;
    background-color: none;
  }
  to {
    width: 100%;
    margin-left: 10%;
    margin-top: 0;
    margin-right: 10%;
    background-color: none;
  }
}

.search-results {
  /* flex-basis: 0%; */
  background: none;
  width: 0px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.search-results::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.search-results {
  -ms-overflow-style: none;
}

.MuiDrawer-paperAnchorDockedLeft {
  -ms-overflow-style: none;
}

.MuiDrawer-paperAnchorDockedLeft::-webkit-scrollbar {
  display: none;
}

.expand-search-results {
  animation-name: expandResults;
  animation-duration: 1s;
  /* prevent the animation from resetting after done playinig */
  animation-fill-mode: forwards;
}

@keyframes expandResults {
  /* flex-basis is how big the results column is in this flex row, auto should take whatever is left over from the search-form */
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes fadeIn {
  /* flex-basis is how big the results column is in this flex row, auto should take whatever is left over from the search-form */
  from {
    opacity: 0%;
  }
  to {
    opacity: 1;
  }
}

.result {
  opacity: 0%;

  /* border-color: gray;
  border-width: 1px; */

  display: flex;
  flex-direction: row;
  height: 25%;
  min-height: 185px;

  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 1s;
  /* border-bottom: 1px solid lightgrey; */

  /* prevent the animation from resetting after done playinig */
  animation-fill-mode: forwards;
}

.result:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.result img {
  height: 200px;
  width: 200px;
}

/* .selected {
  background: gray;

  box-shadow: 1px 1px;
  display: inline-block;
} */

.selected button {
  float: right;
  text-transform: uppercase;
  background: none;
  color: blueviolet;
  border: none;
  font-weight: bold;
  /* width:400px; */
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-delay: 0s;
}

.not-selected button {
  display: none;
}

.widgetContainer {
  /*width: 40vmax;
  height: 40vmax;*/
  width: 45%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid gray; */
  border-radius: 20px;
  background-color: white;
  margin: 1vw;
}

.widgetList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.exampleWidget1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(219, 202, 250);
  width: 90%;
  height: 90%;
}

.PhraseRank {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(250, 240, 147);
  width: 100%;
  height: 100%;
}

.exampleWidget3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(142, 228, 142);
  width: 90%;
  height: 90%;
}

.review-frequency {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 90%;
  height: 90%;
}

.rating-over-time {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  width: 90%;
  height: 90%;
}

.exampleWidget6 {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(105, 105, 105);
  width: 90%;
  height: 90%;
}

.radarChart {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* padding: 10px;
  width: 800px;
  height: 800px; */
  /* background-color: #fff; */
}

.dashboardgrid {
  margin-top: 8vh;
  display: flex;
  min-height: 100vh; /* Make sure the page's height is at least one page long */
  background-color: #f5f5f5;
}

.AIBusiness {
  display: flex;
  justify-content: center;
}

.AITitle {
  color: black;
  /* font-size: 30px; */
  margin-top: -70px;
  /* margin-bottom: 30px; */
}

.CustomerBusiness {
  width: 100%;
  display: flex;
  justify-content: center;
}

.CustomerTitle {
  font-size: 50px;
  margin-bottom: 120px;
  width: 55%;
  margin-top: -40px;
}

.home-icons {
  height: 100vh;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  /* background-color: #BBDEFB; */
  align-items: center;
}

.mid-section {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  align-items: center;
  width: 75%;
  margin: auto;
}

.head-title {
  margin-top: 80px;
  font-size: 55px;
}

.flag-icon {
  /* border: 1px solid black; */
  width: 33%;
  /* font-family: Avenir; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.chart-icon {
  width: 33%;
  margin-left: 44px;
  margin-right: 25px;
  /* font-family: Avenir; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.arrow-icon {
  width: 33%;
  /* font-family: Avenir; */
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.h2 {
  font-size: 24px;
}

.p {
  font-size: 18px;
  font-weight: bold;
}

.top-card {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60vh;
  margin-top: 125px;
  width: 100%;
}

.leftpara {
  /* border: 1px solid black; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* font-family: Avenir; */
  /* font-style: normal;
  font-weight: 900;
  font-size: 30px;
  width: 50%;
  margin-left: 10%; */
}

.leftpara-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 55px;
  padding-bottom: 200px;
  justify-content: flex-start;
}

.TopTabletIMG {
  display: flex;
  /* justify-content: flex-end; */
  position: relative;
  width: 50%;
}

.HomePicture {
  position: absolute;
  top: -300px;
  left: 310px;
}

.HomePicture2 {
  position: absolute;
  top: -375px;
  left: 385px;
}

.HomePicture3 {
  position: absolute;
  top: -150px;
  left: 165px;
}

.HomePicture4 {
  position: absolute;
  top: -220px;
  left: 240px;
}

.BottomTabletIMG {
  width: 55%;
  display: flex;
  /* justify-content: flex-end; */
  width: 50%;
  position: relative;
}

.HomePicture5 {
  position: absolute;
  top: -160px;
  left: 110px;
}

.HomePicture6 {
  position: absolute;
  top: -350px;
  left: 100px;
}

.HomePicture7 {
  position: absolute;
  top: -300px;
  left: -75px;
}

.HomePicture8 {
  position: absolute;
  top: -210px;
  left: 0px;
}

.bottom-card {
  /* border: 1px solid black; */
  margin-top: 200px;
  display: flex;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
  height: 60vh;
}

.rightpara {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* font-family: Avenir; */
  font-style: normal;
  width: 50%;
  position: relative;
  right: 40px;
}

.wavy-line {
  margin-top: 100px;
}

.bottom-info {
  padding-bottom: 35px;
  display: flex;
  margin-top: 2%;
  margin-left: 20%;
  margin-right: 20%;
  justify-content: space-evenly;
}

.overlayImg:before {
  position: absolute;
  width: 37vmin;
  height: 37vmin;
  transition: 0.5s ease;
  opacity: 0.5;
}

.widgetThumbnail {
  width: 37vmin;
  height: 37vmin;
}

.businessStats {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#tallyTitle {
  text-decoration: none;
  color: white;
}

.YelpBusinessH1 {
  font-size: 16px;
}

.YelpBusinessH2 {
  color: black;
}

.HomeFeaturesTitle {
  margin-top: 225px;
  /* font-family: Avenir; */
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  color: #0d47a1;
}

.FeaturesTables {
  display: flex;
  justify-content: center;
  height: 350px;
  padding-top: 35px;
  margin-bottom: 250px;
  text-align: left;
}

.FeatuesTable1 {
  /* box-shadow: 0px 55px 0px 0px #2C98F0; */
  width: 30vh;
  min-width: 150px;
  padding: 25px;
  padding-top: 5px;
  padding-right: 35px;
  border-radius: 18px;
  background: #eeeeee;
  border-bottom: 39px solid #2c98f0;
  opacity: 0.8;
  transition: transform 0.4s;
  margin-left: 3vw;
  margin-right: 3vw;
}

.FeatuesTable1:hover {
  transform: scale(1.1);
}

.FeatuesTable2 {
  /* box-shadow: 0px 55px 0px 0px #48C7FE; */
  width: 30vh;
  padding: 25px;
  padding-right: 35px;
  padding-top: 5px;
  border-radius: 18px;
  background: #eeeeee;
  border-bottom: 39px solid #48c7fe;
  opacity: 0.8;
  transition: transform 0.4s;
  margin-left: 3vw;
  margin-right: 3vw;
}

.FeatuesTable2:hover {
  transform: scale(1.1);
}

.FeatuesTable3 {
  /* box-shadow: 0px 55px 0px 0px #6FEFCC; */
  padding: 15px;
  width: 30vh;
  padding: 25px;
  padding-top: 5px;
  border-radius: 18px;
  padding-right: 35px;
  background: #eeeeee;
  border-bottom: 39px solid #6fefcc;
  opacity: 0.8;
  transition: transform 0.4s;
  margin-left: 3vw;
  margin-right: 3vw;
}

.FeatuesTable3:hover {
  transform: scale(1.1);
}

/* .FeatuesTable4 {
  box-shadow: 0px 55px 0px 0px #c46ea2;
  padding: 15px;
  width: 15%;
  border-radius: 18px;
  background: #D496BB;
  opacity: 0.8;
  transition: transform .2s;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
}

.FeatuesTable4:hover {
  transform: scale(1.2); 
}
*/

.FeaturesHeaders {
  color: black;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}

.FeaturesButton {
  margin-top: 50px;
  background-color: #0d47a1;
  border-radius: 28px;
  border: 1px solid #0d47a1;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 15px 35px;
  text-decoration: none;
}
.FeaturesButton:hover {
  background-color: #0d47a1;
}
.FeaturesButton:active {
  position: relative;
  top: 1px;
}

.BottomSection {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background: linear-gradient(0deg, #76DEFF -10.6%, #84FFDA 100%); */
}

.BottomTitle {
  width: 75%;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 57px;
  text-align: center;
  color: black;
  margin-top: 25%;
}

.FooterButton {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  color: white;
}

.backgroundcolor {
  min-height: 110vh;
  background: linear-gradient(
    185.52deg,
    #b6e6ff 1.15%,
    #c2fdff 24.87%,
    #befff8 36.92%,
    #ffffff 50.39%
  );
}

.reviews {
  background: white;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100px;
  width: 17vw;
  color: #373737;
  letter-spacing: 0.25px;
  line-height: 1rem;
  border-radius: 10px;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reviews p {
  margin: 0;
}

.ratings {
  background: white;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100px;
  width: 17vw;
  color: #373737;
  letter-spacing: 0.25px;
  line-height: 1rem;
  border-radius: 10px;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ratings p {
  margin: 0;
}

.changeofrating {
  background: white;
  margin-top: 25px;
  margin-bottom: 25px;
  height: 100px;
  width: 17vw;
  color: #373737;
  letter-spacing: 0.25px;
  line-height: 1rem;
  border-radius: 10px;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.changeofrating p {
  margin: 0;
}

.MeetTheTeam {
  height: 25vh;
  /* background: linear-gradient(179.93deg, #B5E4FE 0.09%, #BDF5FF 12.8%, #FFFFFF 33.12%); */
}

/* let className = props.competitor ? "competitorTab" : "businessTab";
className += selected ? " selectedTab" : " unselectedTab"; */

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  height: 50px;
  width: 100%;
}

.tab {
  color: #7c8287;
  width: 100%;
  text-align: center;
  font-size: 90%;
  border-right: 2px solid #f9f9f9;
  /* font-family: Avenir; */
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  cursor: pointer;
}

.tab:hover .tabSpace {
  margin-left: auto;
  width: 40px;
}

.tab:hover .deleteTab {
  cursor: pointer;
  margin-left: 10px;
  margin-right: auto;
  font-weight: 1000;
  display: inline-block;
  /* max-width: 30px; */
  width: 30px;
}

.selectedTab {
  background-color: #f5f5f5 !important;
}

.unselectedTab {
  background-color: #d7e2eb !important;
}

.tab:hover .deleteTab:hover {
  cursor: pointer;
  margin-left: 10px;
  margin-right: auto;
  font-weight: 1000;
  display: inline-block;
  font-size: large;
  /* max-width: 30px; */
  width: 30px;
}

.tab .deleteTab {
  margin-right: auto;
  display: none;
}
/* 
.competitorTab {

 background: #F5E6BE; 

}

.businessTab {
  background: #EBF5FE;
}

.newTab {
  background: #ECEDEE;
} 
*/

.addTab {
  text-align: center;
  /* border: 1px solid #F9F9F9; */
  background: #ecedee;
  color: #2c98f0;
  flex-basis: 50px;
  flex-grow: 0;
  flex-shrink: 0;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.landing-top-section {
  width: 100vw;
  height: 8vh;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.homeNavLink {
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.38);
}

a {
  padding-right: 40px;
  text-decoration: none;
  color: white;
}

/* .Signup {
  background-color: #67FFD2;
  border-radius: 40px;
  width: 100px;
  height: 30px;
  margin-right: 30px;
  font-style: Avenir; */
/* } */
a {
  padding-right: 40px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.Signup {
  background-color: #67ffd2;
  border-radius: 40px;
  width: 100px;
  height: 33px;
  font-size: 18px;
  font-family: Avenir, sans-serif;
  color: black;
  text-align: center;
  letter-spacing: 0.15px;
  align-items: center;
  justify-items: center;
  line-height: 27px;
  border: none;
  cursor: pointer;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
}

.widgetTitle {
  font-weight: 500;
  font-size: 200%;
  text-align: left;
  /* line-height: 41px; */
  padding-left: 40px;
  padding-top: 45px;
  padding-bottom: 25px;
  margin: 0;
}

.widgetSubtitle {
  font-size: 100%;
  font-weight: 100;
  /* line-height: 41px; */
  text-align: left;
  padding-left: 40px;
  opacity: 0.64;
  margin: 0;
  margin-top: -10px;
}

.footerTitle {
  font-family: Avenir;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
  color: white;
}

.restrictMobile {
  display: none;
}

.restrictMobile h2 {
  font-size: 200%;
}

.restrictMobile p {
  font-size: 150%;
}

@media only screen and (max-width: 850px) {
  .restrictMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white; /* Black background with opacity */
    z-index: 1000000000000; /* Specify a stack order in case you're using a different order for other elements */
    cursor: not-allowed; /* Add a pointer on hover */
  }
}
